
/* Custmom class */
  .h-auto {
    height: auto !important;
  }
  
  .h-screen {
    height: 100vh !important;
  }
  
  .h-100 {
    height: 100% !important;
  }
  
  .w-auto {
    width: auto !important;
  }
  
  .w-100 {
    width: 100% !important;
  }

  .v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before {
    opacity: 0!important;
  }